 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I am an IT consultant and entrepreneur with over 10 years of experience in a variety of medium-size line of business applications, mostly in .NET technology.</p>
                </div>
                <div class="col-lg-4">
                    <p>I <i class="fa fa-heart"></i> doing fullstack web apps and iOS / Android development. I <i class="fa fa-thumbs-down"></i> repeating myself.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="/blog" class="btn btn-lg btn-outline">
                        <i class="fa fa-book"></i> Read my blog
                    </a>
                </div>
            </div>
        </div>
    </section>